@font-face {
	font-family: "lionello";
	src: url(../fonts/LIONELLORegular.ttf);
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html {
	scroll-behavior: smooth;
}

/*landing page*/
#jumbo-land {
	height: 100vh;
	padding-top: 30%;
	background-color: #333; /*off-black*/
	border-radius: 0; /*removes jumbotron's rounded corners*/
	background-image: url(../images/drip2.png);
	background-position: center;
	background-size: contain;
	/*background-repeat: no-repeat;*/

}

#jumbo-land {
	position: relative;
	padding-left: 0;
}
#jumbo-land h1 {
	font-family: "lionello";
	color: #fff; 
	font-weight: bolder;
	letter-spacing: 5px;
	background-color: rgb(200,46,48, 0.8);
	font-size: 50px;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	text-shadow: 2px 2px 2px #333;
	
	
}

#jumbo-land span {
	font-size: 40px;
	font-family: "lionello";
}
#jumbo-land p {
	color: #f2f2f2; 
}

.ryg {
	padding-left: 0;
}


#pediatric {
	background-color: rgb(255,213,57, 0.8);
	animation-delay: 1s;
	color: white;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	text-shadow: 2px 2px 2px #333;
	
	
}

#general {
	background-color: rgb(38,140,90, 0.8);
	animation-delay: 2s;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	text-shadow: 2px 2px 2px #333;
	opacity: 0.8;
	color: white;
	
	
}


.colors {
	position: absolute;
	top: 0;
	padding-left: 20px;
}


#violet {
	background-color: rgb(57, 25, 105);
	padding: 10px;
	margin-right: 5px;
	height: 70vh;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	opacity: 0.8;
	
}

#blue {
	background-color: rgb(30,82,132);
	padding: 10px;
	margin-right: 5px;
	height: 80vh;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	opacity: 0.8;
	
}

#orange {
	background-color: orange;
	padding: 10px;
	height: 90vh;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	opacity: 0.8;

}
#btn-landing img {
	width: 10em;
	height: 10em;
	box-shadow: 5px 30px 20px rgb(0, 0, 0, 0.3);
	border-radius: 80px;

}
#btn-landing {
	position: fixed;
	right: 5%;
	bottom: 5%;
	text-decoration: none;
	color: #333;
	text-shadow: 0.5px 0.5px 0.5px #fff;
}
#btn-landing:hover > img {
	width: 11em;
	height: 11em;
	transition: 1s;
}
#btn-landing:hover {
	color: rgb(30,82,132);
	
}

.arrowicon {
	color: blue;
	opacity: 0.9;
}


/*end landing*/

/* nav */
#navbar {
	background-color: none;
	margin-left: 7.2%;
	box-shadow: 5px 10px 20px rgb(0, 0, 0, 0.3) inset;
	z-index: 3;
	width: 92.8%;
}

#brand-nav,
#nav-home,
#nav-contact,
#nav-doctors,
#nav-gallery {
	font-family: "lionello";
	text-shadow: 1px 1px 1px #fff;

}


#toothbtn {
	border: none;
}

#logo {
	width: 3em;
	height: 3em;
}

#nav-home:hover {
	border-left: 2px solid rgb(200,46,48);
	color: rgb(200,46,48);
	transition: 1s;
}

#nav-contact:hover {
	border-left: 2px solid rgb(38,140,90);
	color: rgb(38,140,90);
	transition: 1s;
}
#nav-doctors:hover {
	border-left: 2px solid rgb(30,82,132);
	color: rgb(30,82,132);
	transition: 1s;
}

#nav-gallery:hover {
	border-left: 2px solid rgb(255,213,57);
	color: rgb(255,213,57);
	transition: 1s;
}
.colors-home {
	width: 3%;
	height: 225.8vh;

}
.colors-side {
	position: fixed;
	animation-delay: 1s;
	
}

#back {
	position: fixed;
	right: 5%;
	bottom: 5%;
	z-index: 2;
}
/* end nav */


/* sticky social media */
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

/* end sticky social media */
/* footer */

.footer {

	bottom: 0px;
	width: 92.8%;
	display: block;
	background-color: rgb(0, 0, 0, 0.3);
	margin-left: 7.2%;

}
.footerp {
	font-size: 12px; /*default size 1rem or 16px*/
	opacity: 0.6;
}



footer img {
	height: 40px;
	width: 40px;
	margin-bottom: 0;
	opacity: 0.6;
}
#back {
	position: fixed;
	right: 5%;
	bottom: 5%;
	z-index: 2;

}


/* end footer */

/*home page*/
.colors-home {
	width: 3%;
	height: 229vh;

}

#jumbotron-home {
	background-color: #fff;
	height: 80vh;

}

#home-header {
	position: absolute;
	top: 70vh;
	left: 90vh;
	z-index: 1;
	font-family: 'Finger Paint', cursive;
	text-shadow: 0 0 10px #fff;
}

#home {
	position: relative;
	background-color: #fff;
}


#carousel {
	height: 80vh;
	margin-left: 7%;
	margin-right: 0;
	margin-top: 0;
	width: 92.8%;

}
.carousel-img-home img {
	height: 80vh;
	size: cover;
}
.carousel-inner {
	height: 80vh;
}


.about-home {
	margin-left: 7.2%;
}
.about-home-text {
	padding-top: 60px;
	padding-left: 30px
}
/*default size 1rem or 16px*/
#who-we-are-text {
	font-size: 20px;
}


#jumbotron-we-restore {
	margin-left: 7.2%;
	background-image: url(../images/girl.jpeg);
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
	height: 70vh;
	position: relative;
	border-radius: 0;
	background-color: #fff;
}
#we-restore-text {
	color: #333;
	text-shadow: 0 0 10px #fff;
	font-family: 'Finger Paint', cursive;
	position: absolute;
    bottom: 20vh;
    right: 10vh;
}


/*end home page*/

/*doctors page*/

#jumbotron-doctors {
	background-image: url(../images/mario2.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-attachment: fixed;
	height: 90vh;
	border-radius: 0;
	margin-bottom: 0;
	margin-left: 7.2%;
}

#landing-doctors {
	color: #333;
	font-size: 5em;
	padding-top: 30vh;
	letter-spacing: 5px;
	font-family: lionello;
	text-shadow: 2px 2px 2px #fff;
} 

#doctor1 {
	height: 100%;
	background-color: #333;
	color: #fff;
	margin-left: 7.2%;
	width: 92.8%;
}

#doctor2 {
	height: 100%;
	background-color: #fff;
	color: #333;
	margin-left: 7.2%;
	width: 92.8%;
}
#doctor2-img {
	box-shadow: 5px 5px 18px #888888;
}
#doctor1-img {
	box-shadow: 5px 5px 18px rgb(110, 111, 115, 0.8);
}

.drtimjim {
	padding-top: 80px;
	font-weight: 700;
}
.drtimjim2 {
	color: gray;
}

#logo-doctors {
	margin-left: 7.2%;
	background-color: #333; 
	width: 92.8%;

}
#uplogo {
	width: 10em;
	height: 10em;
}
#updentlogo {
	width: 15em;
	height: 8em;
	margin-top: 20px;
}
#pcmclogo {
	width: 9em;
	height: 9em;
	padding-top: 5px;
}


}
/*end doctors page*/

/* contact */

#head-contact {
	margin-left: 7.2%;
	border: none;

}
#head-contact h1 {
	font-family: "lionello";
}

#gmap {
	width: 100%;
	display: block;
	border: none;
	height: 70vh;
	border-radius: 10px;
}

/*end contact page*/

/*gallery*/
#head-gall {
	margin-left: 7.2%;
	border: none;

}
#head-gall h1 {
	font-family: "lionello";
}
#gallery-polaroid {
	margin-left: 7.2%;

}
#gallery-polaroid > .polaroid > h2 {
	font-family: 'Finger Paint', cursive;
}

.polaroid {
  width: 284px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.rotate_right {
  float: left;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Safari */
  transform: rotate(7deg);
}

.rotate_left {
  float: left;
  -ms-transform: rotate(-8deg); /* IE 9 */
  -webkit-transform: rotate(-8deg); /* Safari */
  transform: rotate(-8deg);
}

#footer-gallery {
	position: fixed;
	bottom: 0;
	
}


#carousel-theclinic,
#carousel-purefun,

#carousel-teamdoctors {
	height: 50vh;
}
#carousel-cases {
	height: 70vh;
}

#carousel-purefun img {
	height: 50vh;
}

.polaroid:hover {
	height: 300px;
	width: 300px
}
#polaroidclinic:hover {
	height: 400px;
	width: 300px;
}


/*end gallery*/






/*media queries*/

/*Mobile Style*/
/*only screen (media type) --- (max-width)(media feature)*/
/*only screen only for specific size (max-width)*/

@media only screen and (max-width: 400px) {

	/* landing page */
	#jumbo-land {
		padding-top: 100%;
		background-repeat: no-repeat;
		background-position: top;
	}
	#jumbo-land h1 {
		font-size: 30px;
		opacity: 1;
	}
	#jumbo-land span {
		font-size: 20px;
	}
	#pediatric {
		font-size: 15px;
		opacity: 1;
	}
	#general {
		font-size: 15px;
		opacity: 1;
	}
	.colors {
		display: none;
	}
	.jumbotron {
		padding-right: 0;
		vertical-align: center;
	}
	.ryg {
		padding-right: 0;
	}
	.jumbotron h1 {
		font-size: 30px;
	}
	.jumbotron span {
	font-size: 20px;
	}
	.btn img {
		position: absolute;
		left: 20px;
		top: 50px;
	}
	/* end landing page */
	#toothbtn:hover {
		color: black;
	}

	/* home page */
	.colors-home {
		display: none;
	}

	#carousel {
	height: 40vh;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-right: 0;
	width: 90%;
	}
	.carousel-img-home img {
	height: 40vh;
	size: cover;
	position: center;
	}


	#home-header {
		font-size: 15px;
		position: absolute;
		top: 35vh;
		left: 5vh;
		z-index: 1;
	}

	#navbar {
		width: 100%;
		margin-left: 0;
	}


	.about-home-text {
	/*	padding-left: 15px;*/
		padding-right: 30px;
		padding-top: 50px;
		padding-bottom: 20px;
		width: 92.8%;
	}
	.about-home-img {
		padding-left: 0;
		padding-right: 0;
	}
	.about-home h2 {
    	font-size: 1.5rem
	}

	#who-we-are-text {
    font-size: 15px;
	}


	#jumbotron-we-restore {
		/*margin-left: 0;
		background-position: top;
		height: 37.5vh;
		width: 92.8%;*/
		display: none;
	}

	.footer { 
		width: 100%;	
		text-align: center;
		margin-left: 0;
	}
	footer img {
		 width: 20px;
		 height: 20px;
	}
	
	#text-before-copyright {
		text-align: center;
		margin-bottom: 0;
	}

	.copyright small {
		margin-bottom: 0;
		padding: 0;
		font-size: 50%;
		margin-left: 0;
	}
	#footerdiv {
		padding-right: 0;
	}


	/* end home page */


	/*start docotors*/
	#doctor1,
	#doctor2,
	#jumbotron-doctors,
	#logo-doctors {
		width: 100%;
		margin-left: 0;

	}
	

	.drtimjim {
		padding-top: 0;
	}

	.drtimjim {
		font-size: 20px;
		padding-top: 0;
	}
	.drtimjim > p {
		font-size: 10px;
	}
	
	#uplogo {
	width: 5em;
	height: 5em;
	}
	
	#updentlogo {
	width: 7em;
	height: 4em;
	margin-top: 20px;
	}
	
	#pcmclogo {
	width: 4.5em;
	height: 4.5em;
	padding-top: 5px;
	margin-top: 20px;
}

	/*end doctors*/

}


/*tablet style*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
	#jumbo-land {
		padding-top: 80%;
		background-repeat: no-repeat;
		background-position: top;
	}	
	#jumbo-land h1 {
		opacity: 1;
	}
	#pediatric {
		opacity: 1;
	}
	#general {
		opacity: 1;
	}
	

	#navbar,
	.footer {
		margin-left: 7em;
		width: 85%;
	}

	/*start home*/
	#carousel {
		height: 50vh;
		margin-left: 7em;
	}
	.carousel-img-home img {
		height: 50vh;
		size: cover;
	}

	#home-header {
		font-size: 30px;
		position: absolute;
		top: 40vh;
		left: 27vh;
		z-index: 1;
	}

	.about-home {
		margin-left: 7em;
		width: 85%;
	}
	.about-home-img {
		padding-top: 25%;
	}

	#jumbotron-we-restore {
		width: 85%;
		margin-left: 7em;
		padding: 32px 32px 0 32px;
		height: 40vh;
	}
	#we-restore-text {
		top: 25vh;
		
	}

	.colors-home {
		height: 138.5vh;
		left: 5vh;
	}

	/*end home*/

	/*start doctors*/
	#doctor1,
	#doctor2,
	#jumbotron-doctors,
	#logo-doctors {
		width: 85%;
		margin-left: 7em;
	}


	.drtimjim {
		font-size: 30px;
		padding-top: 0;
	}
	.drtimjim > p {
		font-size: 30px;
	}
	/*end doctors*/

	/* start gallery */

	#navbar,
	#head-gall,
	#footer-gallery {
		margin-left: 7em;
		width: 85%;
	}
	#gallery-polaroid {
		margin-left: 18em;
	}

	/*end gallery*/

}


/*desktop style*/
@media only screen and (min-width: 961px) {
	
}

@media only screen and (max-width: 900px), 
(height: 1024px) and (width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape), 
(width: 1024px) and (height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait)  {
	#jumbo-land {
		padding-top: 80%;
		background-repeat: no-repeat;
		background-position: top;
	}	
	#jumbo-land h1 {
		width: 90%;
	}

         
}


